{% extends "layouts/base.html" %}
{% block content %}

<div class="row">
</div>

<head>
  <style>
    table {
      font-family: arial, sans-serif;
      color: black;
      border-collapse: collapse;
      width: 100%;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      /*background-color: #dddddd;*/
      background-color: wheat;
    }
  </style>
</head>
<body>

<h2>Rate the book!</h2>

<p>Average: {{average}}</p>

<form action="/fivestars" id="publish" method="POST" >
    <label for="review">Tell us why it's 5 stars here...</label>
    <input name="review" id="review">
    <input type="submit" value="Submit">
</form>
<p>{{fivestarsreview}}</p>

<form action="/fourstars" id="publish" method="POST" >
    <label for="review">Tell us why it's 4 stars here...</label>
    <input name="review" id="review">
    <input type="submit" value="Submit">
</form>
<p>{{fourstarsreview}}</p>

<form action="/threestars" id="publish" method="POST" >
    <label for="review">Tell us why it's 3 stars here...</label>
    <input name="review" id="review">
    <input type="submit" value="Submit">
</form>
<p>{{threestarsreview}}</p>

<form action="/twostars" id="publish" method="POST" >
    <label for="review">Tell us why it's 2 stars here...</label>
    <input name="review" id="review">
    <input type="submit" value="Submit">
</form>
<p>{{twostarsreview}}</p>

<form action="/onestar" id="publish" method="POST" >
    <label for="review">Tell us why it's 1 star here...</label>
    <input name="review" id="review">
    <input type="submit" value="Submit">
</form>
<p>{{onestarreview}}</p>



</body>

{% endblock %}
