


<div class="app dark">
    <h1 class="title">Light/Dark theme switcher</h1>
    <p class="text">Use the button below to switch between light and dark themes</p>
    <p class="current-theme">Current theme: <span class="theme-name">dark</span></p>
    <h2>Dynamic Colors:</h2>
    <p>
        <span class="primary">Base Color</span><br/>
        <span class="primary-dark">10% darker Color</span><br/>
        <span class="primary-darker">20% darker Color</span><br/>
    </p>
    <button type="button" class="btn btn-switch">Switch</button>
</div>